* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: none;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  -webkit-transform: rotate(-90deg) translateX(-100vh);
          transform: rotate(-90deg) translateX(-100vh);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  overflow: none;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.outer-wrapper .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: calc(100vw + 1480px + 450px + 1850px + 3094.53px + 300px);
  -webkit-transform: rotate(90deg) translateY(-100vh);
          transform: rotate(90deg) translateY(-100vh);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

@media screen and (min-width: 768px) {
  .outer-wrapper .wrapper {
    width: calc(100vw + 1530px + 550px + 2000px + 4270px + 300px);
  }
}

@media screen and (min-width: 1024px) {
  .outer-wrapper .wrapper {
    width: calc(100vw + 1630px + 550px + 2200px + 4570px + 325px);
  }
}

@media screen and (min-width: 1200px) {
  .outer-wrapper .wrapper {
    width: calc(100vw + 1630px + 1300px + 2200px + 5370px + 340px);
  }
}

@media screen and (min-width: 1400px) {
  .outer-wrapper .wrapper {
    width: calc(100vw + 1630px + 1300px + 2200px + 5570px + 340px);
  }
}

@media screen and (min-width: 1680px) {
  .outer-wrapper .wrapper {
    width: calc(100vw + 2114px + 1580px + 2250px + 6245px + 240px);
  }
}

::-webkit-scrollbar {
  display: none;
}

.cursor {
  opacity: 0;
  position: fixed;
  width: 12px;
  height: 12px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #000;
  z-index: 999;
  pointer-events: none;
  border-radius: 100px;
}

@media (min-width: 1200px) {
  .cursor {
    opacity: 1;
  }
}

.cursor.active {
  width: 24px;
  height: 24px;
}

.loading-bg {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 1;
  -webkit-transition: opacity 1.8s ease-in-out;
  transition: opacity 1.8s ease-in-out;
}

.loading-bg .logo {
  height: 100px;
  width: 100px;
}

@media screen and (min-width: 1024px) {
  .loading-bg .logo {
    height: 125px;
    width: 125px;
  }
}

@media screen and (min-width: 1200px) {
  .loading-bg .logo {
    height: 140px;
    width: 140px;
  }
}

.sec-1 {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.sec-1 header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}

@media screen and (min-width: 1200px) {
  .sec-1 header {
    margin: 70px 0;
  }
}

.sec-1 header .logo {
  height: 100px;
  width: 100px;
}

@media screen and (min-width: 1024px) {
  .sec-1 header .logo {
    height: 125px;
    width: 125px;
  }
}

@media screen and (min-width: 1200px) {
  .sec-1 header .logo {
    height: 140px;
    width: 140px;
  }
}

.sec-1 header .header-title {
  margin-top: 15px;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .sec-1 header .header-title {
    font-size: 1.25em;
  }
}

@media screen and (min-width: 1680px) {
  .sec-1 header .header-title {
    font-size: 1.45em;
  }
}

.sec-1 .front-images-block {
  height: 100%;
  width: 100%;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .sec-1 .front-images-block {
    padding: 0 30px;
  }
}

@media screen and (min-width: 1200px) {
  .sec-1 .front-images-block {
    padding: 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.sec-1 .front-images-block .front-image {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .sec-1 .front-images-block .front-image {
    height: 70%;
  }
}

.sec-1 .front-images-block .front-image.img-1 {
  background-image: url("bg/bg1.jpg");
  background-size: cover;
}

.sec-1 .front-images-block .front-image.img-2 {
  background-image: url("bg/bg2.jpg");
  background-size: cover;
  height: 90%;
  margin: 0 40px;
}

.sec-1 .front-images-block .front-image.img-3 {
  background-image: url("bg/bg3.jpg");
  background-size: cover;
}

.sec-2 {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 100px;
}

.sec-2 .history-block {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec-2 .history-block .history-title {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 3em;
  text-transform: uppercase;
  margin-bottom: 0.9em;
}

@media screen and (min-width: 1024px) {
  .sec-2 .history-block .history-title {
    font-size: 3.5em;
  }
}

@media screen and (min-width: 1680px) {
  .sec-2 .history-block .history-title {
    font-size: 4em;
  }
}

.sec-2 .history-block .history-text {
  width: 300px;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 1em;
  line-height: 28px;
  margin-bottom: 0.75em;
}

@media screen and (min-width: 1024px) {
  .sec-2 .history-block .history-text {
    width: 400px;
    font-size: 1.1em;
  }
}

@media screen and (min-width: 1680px) {
  .sec-2 .history-block .history-text {
    width: 425px;
    font-size: 1.25em;
  }
}

.sec-2 .history-block a {
  text-decoration: none;
  color: #000;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 1em;
}

@media screen and (min-width: 1024px) {
  .sec-2 .history-block a {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 1680px) {
  .sec-2 .history-block a {
    font-size: 1.25em;
  }
}

.sec-2 .history-block a span {
  padding-right: 5px;
}

.sec-2 .history-block a span .brand {
  text-decoration: underline;
}

.sec-2 .history-img {
  width: 100%;
  height: 623px;
}

@media screen and (min-width: 768px) {
  .sec-2 .history-img {
    padding-left: 50px;
  }
}

@media screen and (min-width: 1680px) {
  .sec-2 .history-img {
    width: 1539px;
    height: 887.5px;
  }
}

.sec-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 100px;
}

.sec-3 .shop-images-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .sec-3 .shop-images-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.sec-3 .shop-images-block .shop-image {
  height: 35vh;
  width: 350px;
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .sec-3 .shop-images-block .shop-image {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .sec-3 .shop-images-block .shop-image {
    height: 65vh;
    width: 600px;
  }
}

@media screen and (min-width: 1680px) {
  .sec-3 .shop-images-block .shop-image {
    margin: 1.25em 0;
    width: 700px;
  }
}

.sec-3 .shop-images-block .shop-image.shop-image-1 {
  position: relative;
}

.sec-3 .shop-images-block .shop-image.shop-image-1::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("shop/s1.jpg");
  background-size: cover;
}

.sec-3 .shop-images-block .shop-image.shop-image-1:hover::before {
  opacity: 0.25;
}

.sec-3 .shop-images-block .shop-image.shop-image-2 {
  position: relative;
}

.sec-3 .shop-images-block .shop-image.shop-image-2::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("shop/s2.jpg");
  background-size: cover;
}

.sec-3 .shop-images-block .shop-image.shop-image-2:hover::before {
  opacity: 0.25;
}

.sec-3 .shop-images-block .shop-image:hover a {
  opacity: 1;
}

.sec-3 .shop-images-block .shop-image a {
  opacity: 0;
  position: relative;
  z-index: 10;
}

.sec-3 a {
  text-decoration: none;
  color: #000;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 1em;
  position: relative;
  z-index: 999;
  margin-top: 0.75em;
}

@media screen and (min-width: 1024px) {
  .sec-3 a {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 1680px) {
  .sec-3 a {
    font-size: 1.25em;
  }
}

.sec-3 a span {
  padding-right: 5px;
}

.sec-3 a span .brand {
  text-decoration: underline;
}

.sec-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 100px;
}

.sec-4 .shops-block {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-4 .shops-block .shops-title-block .shops-title {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 3em;
  text-transform: uppercase;
  margin-bottom: 0.9em;
  padding-right: 100px;
  margin: 0;
  width: 600px;
}

@media screen and (min-width: 1024px) {
  .sec-4 .shops-block .shops-title-block .shops-title {
    font-size: 3.5em;
  }
}

@media screen and (min-width: 1680px) {
  .sec-4 .shops-block .shops-title-block .shops-title {
    font-size: 4em;
  }
}

@media screen and (min-width: 1024px) {
  .sec-4 .shops-block .shops-title-block .shops-title {
    width: 650px;
  }
}

@media screen and (min-width: 1680px) {
  .sec-4 .shops-block .shops-title-block .shops-title {
    width: 700px;
  }
}

.sec-4 .shops-block .shops-title-block a {
  text-decoration: none;
  color: #000;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 1em;
}

@media screen and (min-width: 1024px) {
  .sec-4 .shops-block .shops-title-block a {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 1680px) {
  .sec-4 .shops-block .shops-title-block a {
    font-size: 1.25em;
  }
}

.sec-4 .shops-block .shops-title-block a span {
  padding-right: 5px;
}

.sec-4 .shops-block .shops-title-block a span .brand {
  text-decoration: underline;
}

.sec-4 .shops-block .shops-images-block {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-4 .shops-block .shops-images-block .images-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0;
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 35vh;
  width: 350px;
  margin: 0 20px;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 1em;
  margin-bottom: 0.75em;
  color: #fff;
  padding: 15px;
  background-color: #000;
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image:first-of-type {
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .sec-4 .shops-block .shops-images-block .images-row .shops-image {
    width: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .sec-4 .shops-block .shops-images-block .images-row .shops-image {
    font-size: 1.1em;
    height: 40vh;
    width: 450px;
  }
}

@media screen and (min-width: 1680px) {
  .sec-4 .shops-block .shops-images-block .images-row .shops-image {
    font-size: 1.25em;
  }
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image.shops-image-1 {
  position: relative;
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image.shops-image-1::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: cover;
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image.shops-image-1:hover::before {
  opacity: 0.6;
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image.shops-image-1::before {
  background-image: url("shops/g1.jpg");
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image.shops-image-2 {
  position: relative;
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image.shops-image-2::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: cover;
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image.shops-image-2:hover::before {
  opacity: 0.6;
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image.shops-image-2::before {
  background-image: url("shops/g2.jpg");
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image.shops-image-3 {
  position: relative;
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image.shops-image-3::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: cover;
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image.shops-image-3:hover::before {
  opacity: 0.6;
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image.shops-image-3::before {
  background-image: url("shops/g3.jpg");
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image.shops-image-4 {
  position: relative;
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image.shops-image-4::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: cover;
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image.shops-image-4:hover::before {
  opacity: 0.6;
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image.shops-image-4::before {
  background-image: url("shops/g4.jpg");
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image.shops-image-5 {
  position: relative;
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image.shops-image-5::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: cover;
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image.shops-image-5:hover::before {
  opacity: 0.6;
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image.shops-image-5::before {
  background-image: url("shops/g5.jpg");
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image.shops-image-6 {
  position: relative;
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image.shops-image-6::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: cover;
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image.shops-image-6:hover::before {
  opacity: 0.6;
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image.shops-image-6::before {
  background-image: url("shops/g6.jpg");
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image:hover span {
  opacity: 1;
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image span {
  position: relative;
  opacity: 0;
  z-index: 10;
}

.sec-4 .shops-block .shops-images-block .images-row .shops-image .shop-location {
  font-weight: bold;
}

.sec-5 {
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .sec-5 {
    padding-left: 200px;
  }
}

.sec-5 .collaborations-block {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .sec-5 .collaborations-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}

.sec-5 .collaborations-block .collaborations-title {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 3em;
  text-transform: uppercase;
  margin-bottom: 0.9em;
  margin: 20px 0;
  max-width: 700px;
  padding-right: 100px;
}

@media screen and (min-width: 1024px) {
  .sec-5 .collaborations-block .collaborations-title {
    font-size: 3.5em;
  }
}

@media screen and (min-width: 1680px) {
  .sec-5 .collaborations-block .collaborations-title {
    font-size: 4em;
  }
}

@media screen and (min-width: 768px) {
  .sec-5 .collaborations-block .collaborations-title {
    margin: 70px 0;
  }
}

.sec-5 .collaborations-block .collaborations-card-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sec-5 .collaborations-block .collaborations-card-block .collaborations-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 50px;
}

@media screen and (min-width: 768px) {
  .sec-5 .collaborations-block .collaborations-card-block .collaborations-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.sec-5 .collaborations-block .collaborations-card-block .collaborations-card .collaborations-card-image {
  height: 30vh;
  width: auto;
}

@media screen and (min-width: 768px) {
  .sec-5 .collaborations-block .collaborations-card-block .collaborations-card .collaborations-card-image {
    height: 60vh;
    width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .sec-5 .collaborations-block .collaborations-card-block .collaborations-card .collaborations-card-image {
    height: 65vh;
    width: 500px;
  }
}

@media screen and (min-width: 1680px) {
  .sec-5 .collaborations-block .collaborations-card-block .collaborations-card .collaborations-card-image {
    height: 65vh;
    width: 650px;
  }
}

.sec-5 .collaborations-block .collaborations-card-block .collaborations-card .collaborations-card-image.card-image-1 {
  background-image: url("collabs/c1.jpg");
  background-size: cover;
}

.sec-5 .collaborations-block .collaborations-card-block .collaborations-card .collaborations-card-image.card-image-2 {
  background-image: url("collabs/c3.jpg");
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .sec-5 .collaborations-block .collaborations-card-block .collaborations-card .collaborations-card-image.card-image-2 {
    background-position: center;
  }
}

.sec-5 .collaborations-block .collaborations-card-block .collaborations-card .collaborations-card-image.card-image-3 {
  background-image: url("collabs/c5.jpg");
  background-size: cover;
}

.sec-5 .collaborations-block .collaborations-card-block .collaborations-card .collaborations-card-image canvas {
  display: f;
}

@media screen and (min-width: 768px) {
  .sec-5 .collaborations-block .collaborations-card-block .collaborations-card .collaborations-card-block-text {
    padding: 0 70px;
  }
}

.sec-5 .collaborations-block .collaborations-card-block .collaborations-card .collaborations-card-block-text .collaborations-card-title {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 2.4em;
  margin: 15px 0;
}

@media screen and (min-width: 768px) {
  .sec-5 .collaborations-block .collaborations-card-block .collaborations-card .collaborations-card-block-text .collaborations-card-title {
    margin: 0;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1680px) {
  .sec-5 .collaborations-block .collaborations-card-block .collaborations-card .collaborations-card-block-text .collaborations-card-title {
    margin-bottom: 30px;
  }
}

.sec-5 .collaborations-block .collaborations-card-block .collaborations-card .collaborations-card-block-text .collaborations-card-authors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sec-5 .collaborations-block .collaborations-card-block .collaborations-card .collaborations-card-block-text .collaborations-card-authors span {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 1em;
  line-height: 28px;
  text-transform: lowercase;
}

@media screen and (min-width: 1024px) {
  .sec-5 .collaborations-block .collaborations-card-block .collaborations-card .collaborations-card-block-text .collaborations-card-authors span {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 1680px) {
  .sec-5 .collaborations-block .collaborations-card-block .collaborations-card .collaborations-card-block-text .collaborations-card-authors span {
    font-size: 1.25em;
  }
}

.sec-5 .collaborations-block .collaborations-card-block .collaborations-card .collaborations-card-block-text .collaborations-card-text {
  width: 300px;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 1em;
  line-height: 28px;
  margin-bottom: 0.75em;
  margin-top: 30px;
}

@media screen and (min-width: 1024px) {
  .sec-5 .collaborations-block .collaborations-card-block .collaborations-card .collaborations-card-block-text .collaborations-card-text {
    width: 400px;
    font-size: 1.1em;
  }
}

@media screen and (min-width: 1680px) {
  .sec-5 .collaborations-block .collaborations-card-block .collaborations-card .collaborations-card-block-text .collaborations-card-text {
    width: 425px;
    font-size: 1.25em;
  }
}

@media screen and (min-width: 768px) {
  .sec-5 .collaborations-block .collaborations-card-block .collaborations-card .collaborations-card-block-text .collaborations-card-text {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1680px) {
  .sec-5 .collaborations-block .collaborations-card-block .collaborations-card .collaborations-card-block-text .collaborations-card-text {
    margin-top: 70px;
  }
}

.sec-5 .image-layout {
  height: 100%;
  width: 800px;
  background-color: black;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .sec-5 .image-layout {
    width: 1200px;
  }
}

@media screen and (min-width: 1440px) {
  .sec-5 .image-layout {
    width: 1400px;
  }
}

.sec-5 .image-layout::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("collabs/c6.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}

.sec-5 .image-layout .image-text {
  width: 300px;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 1em;
  line-height: 28px;
  margin-bottom: 0.75em;
  position: absolute;
  color: #fff;
  top: 3%;
  right: 3%;
}

@media screen and (min-width: 1024px) {
  .sec-5 .image-layout .image-text {
    width: 400px;
    font-size: 1.1em;
  }
}

@media screen and (min-width: 1680px) {
  .sec-5 .image-layout .image-text {
    width: 425px;
    font-size: 1.25em;
  }
}

.sec-5 .collaborations-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 100px;
}

.sec-5 .collaborations-link a {
  text-decoration: none;
  color: #000;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 1em;
  margin-bottom: 0.75em;
}

@media screen and (min-width: 1024px) {
  .sec-5 .collaborations-link a {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 1680px) {
  .sec-5 .collaborations-link a {
    font-size: 1.25em;
  }
}

.sec-5 .collaborations-link a span {
  padding-right: 5px;
}

.sec-5 .collaborations-link a span .brand {
  text-decoration: underline;
}

.sec-5 .collaborations-link .collaborations-link-image {
  height: 60vh;
  width: 400px;
  background-image: url("collabs/c7.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1200px) {
  .sec-5 .collaborations-link .collaborations-link-image {
    height: 65vh;
    width: 500px;
  }
}

@media screen and (min-width: 1680px) {
  .sec-5 .collaborations-link .collaborations-link-image {
    height: 65vh;
    width: 650px;
  }
}

.sec-6 {
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sec-6 .logo {
  height: 100px;
  width: 100px;
  margin-bottom: 50px;
}

@media screen and (min-width: 1024px) {
  .sec-6 .logo {
    height: 125px;
    width: 125px;
  }
}

@media screen and (min-width: 1200px) {
  .sec-6 .logo {
    height: 140px;
    width: 140px;
  }
}

.sec-6 ul {
  list-style: none;
  text-align: right;
}

.sec-6 ul li {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 1em;
  line-height: 28px;
  text-transform: lowercase;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .sec-6 ul li {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 1680px) {
  .sec-6 ul li {
    font-size: 1.25em;
  }
}

.sec-6 ul li a {
  text-decoration: none;
  color: #000;
}
/*# sourceMappingURL=style.css.map */